.inicio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #111, #d3d3d3);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .metal-btn {
    width: 500px;
    height: 500px;
    border-top: 1px solid #96d1f8;
    background: #0099ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#b5e6f2), to(#0099ff));
    background: -webkit-linear-gradient(top, #b5e6f2, #0099ff);
    background: -moz-linear-gradient(top, #b5e6f2, #0099ff);
    background: -ms-linear-gradient(top, #b5e6f2, #0099ff);
    background: -o-linear-gradient(top, #b5e6f2, #0099ff);
    padding: 20px 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 50px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
  }
  
  .metal-btn:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
  }
  